.DS_Store
.merlin
.bsb.lock
npm-debug.log
/lib/bs/
/node_modules/
*.bs.js
build/
.tailwind_ppx_cache/
.vscode

assets/
!assets/logo.png
!assets/GitHub-Mark-Light-32px.png
!assets/french_homepage.html
!assets/english_homepage.html
!assets/css 
