@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --border-color: #e4eaf3;
  --bg-color: #fcfcfc;
  --code-bg-color: #f6f6f7;
  --selected-bg-color: #ecc94b;
}

html .catala-code {
  padding: 1rem 1rem 0 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 0.25rem;
  background-color: var(--bg-color);
}

.catala-code a:target ~ span {
  background-color: var(--selected-bg-color);
}
.catala-code a:target ~ a ~ span {
  background-color: var(--code-bg-color);
}

.catala-code .link-article {
  padding-left: 8px;
  font-style: italic;
  font-size: 0.9rem;
  font-family: serif;
  /* text-decoration: underline; */
}

.catala-code .link-article:hover {
  cursor: pointer;
  color: #376c2e;
}

.catala-code summary {
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-style: italic;
}

.catala-code .toc summary  {
  font-weight: bold;
  font-size: 1.25rem;
  font-style: normal;
  padding: 16px 0;
}

.catala-code .toc-0,
.catala-code .toc-1,
.catala-code .toc-2,
.catala-code .toc-3,
.catala-code .toc-4,
.catala-code .toc-5,
.catala-code .toc-6,
.catala-code .toc-7,
.catala-code .toc-8,
.catala-code .toc-9 {
  padding-left: 32px;
  font-size: 1.2rem;
  align-items: center;
}

.catala-code .toc-0 {
  list-style-type: upper-roman;
}

.catala-code .toc-1 {
  list-style-type: upper-latin;
}

.catala-code .toc-2 {
  list-style-type: decimal;
}

.catala-code .toc-3 {
  list-style-type: lower-latin;
}

.catala-code .toc-4 {
  list-style-type: lower-roman;
}

.catala-code .toc-5,
.catala-code .toc-6,
.catala-code .toc-7,
.catala-code .toc-8,
.catala-code .toc-9 {
  list-style-type: decimal;
}

.catala-code .toc-item a:hover {
  cursor: pointer;
  color: #376c2e;
  opacity: 100%;
}

.catala-code tr {
  border-bottom: none;
}

.catala-code .selected {
  background-color: var(--selected-bg-color);
  border-bottom: none;
}

.catala-code .law-text {
  /* font-family: "Inter", "Open Sans", sans-serif; */
  font-family: "Georgia", serif;
  font-weight: semi-bold;
	font-size: 1.1rem;
}

.catala-code .linenodiv pre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #323e54;
  opacity: 50%;
  background-color: var(--code-bg-color);
  width: 3rem;
  padding: 0.5rem 0;
	font-weight: 500;
}

.catala-code .linenodiv span:hover {
  cursor: pointer;
  font-weight: bold;
  color: #376c2e;
  opacity: 100%;
}

.catala-code ul {
  padding-left: 3rem;
}

.catala-code ul,
.catala_code li {
  list-style-type: disc !important;
}

.catala-code .filename {
  font-family: monospace;
  color: #5c75a2;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--code-bg-color);
}

.catala-code td, th {
  padding-left: 0rem !important;
}

.catala-code .code-wrapper {
  padding: 0;
  margin: 1rem 0;
  overflow-x: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 0.25rem;
  background-color: var(--bg-color);
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.catala-code .code-metadata {
  border-width: 2px;
  border-style: dashed;
}

.catala-code h1,
.catala-code h2,
.catala-code h3,
.catala-code h4,
.catala-code h5,
.catala-code h6,
.catala-code h7,
.catala-code h8,
.catala-code h9 {
  display: block;
  font-weight: bold;
  color: #323e54;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.catala-code h1 {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.5em;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.catala-code h2 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  border-radius: 5px;
  padding: 1.5rem 0;
}

.catala-code h3 {
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.catala-code h4 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding-bottom: 1.25rem;
  padding-top: 1rem;
}

.catala-code h5 {
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 1rem;
  padding-top: 0.75rem;
}

.catala-code h6 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.catala-code h7 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.catala-code h8 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
}

.catala-code h9 {
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

@media (max-width: 740px) {
	html .catala-code {
		font-size: 1rem;
		line-height: 1.25rem;
	}

	.catala-code .code-wrapper {
		font-size: 0.9rem;
		line-height: 1rem;
	}

	.catala-code h1 {
		font-size: 2rem;
		line-height: 2.15rem;
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}

	.catala-code h2 {
		font-size: 1.5rem;
		line-height: 1.6rem;
		padding: 1.5rem 0;
	}

	.catala-code h3 {
		font-size: 1.25rem;
		line-height: 1.25rem;
		padding-top: 1rem;
	}

	.catala-code h4 {
		font-size: 1.25rem;
		line-height: 1.25rem;
		padding-top: 0;
	}

	.catala-code h5 {
		font-size: 1.15rem;
		padding: 0;
	}

	.catala-code h6 {
		font-size: 1rem;
		padding: 0;
	}

	.catala-code h7 {
		font-size: 0.9rem;
		padding: 0;
	}

	.catala-code h8 {
		font-size: 0.8rem;
		padding: 0;
	}
}
