@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700;800;900&display=swap");
@import "../../assets/css/catala_code.css";

html .catala-code p {
  max-width: none !important;
}

html .catala-code .law-text {
  /* font-family: "Inter", "Open Sans", sans-serif;
  /* font-family: "Libre Baskerville", serif; */
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: medium !important;
  margin-bottom: 0.5rem;
  max-width: none !important;
}

html .catala-code .toc-item a:hover {
  color: #4d3006;
}

html .catala-code .link-article:hover {
  color: #4d3006;
}

html .catala-code {
  --border-color: transparent; /* #ddd6cd;*/
  --bg-color: transparent;
  --code-bg-color: #f5f5f4;
  padding: 0 !important;
  border-radius: 0 !important;
}

html .catala-code .code-wrapper {
  --border-color: #ddd6cd;
  --bg-color: #fffcf9;
  border-radius: 0;
  overflow-x: auto;
}

html .code-wrapper {
  border-radius: 0;
}

html .catala-code .filename {
  font-family: monospace;
  color: #4d3006;
  display: inline-block;
  min-width: 100%;
  background-color: transparent !important;
}

html .catala-code .code {
  background-color: white;
  padding-left: 0.5rem !important;
  width: 100%;
}

html .catala-code .code-wrapper tbody {
  border-top: 1px solid #ddd6cd !important;
}

html .catala-code .linenodiv {
  color: #4d3006;
  background-color: #fffaf2;
}

html .catala-code h1 {
  text-align: left;
}

html .catala-code h1,
html .catala-code h2,
html .catala-code h3,
html .catala-code h4,
html .catala-code h5,
html .catala-code h6,
html .catala-code h7,
html .catala-code h8,
html .catala-code h9 {
  display: block;
  font-weight: 500;
  color: black;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

html .catala-code .law-heading {
  font-size: large;
}
