.primary-color {
  background-color: #5c75a2
}

.primary-color-text {
  color: #5c75a2 !important
}

.secondary-color {
  background-color: #4a5e81
}

.secondary-color-text {
  color: #4a5e81 !important
}

.tertiary-color {
  background-color: #323e54
}

.tertiary-color-text {
  color: #323e54 !important
}

.presentation-card {
  font-size:1.3rem;
}

blockquote {
  border-left-color: #5c75a2;
}

body {
  background-color: #f5f5f5
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.under-construction {
  background-color: #ffc800
}
